<!DOCTYPE html>
<html lang="en">
{% include 'nav.html' %}
{% block content %}
<body>
    <div class="container">
        <img src ="https://i.imgur.com/PmHa4a5.png">
        <h2 style="color: rgb(255, 217, 63)">Brasileirão - Série A</h2>
        <p style="font-style:italic">Selecione uma partida para ter acesso à calculadora de lucro garantido</p>            
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Partida</th>
              <th>Melhor Vitória Mandante</th>
              <th>Melhor Empate</th>
              <th>Melhor Vitória Visitante</th>
            </tr>
          </thead>
          <tbody>
            {% for item in content %}
                <tr id="matchs">
                     <td><a href="/odds/{{ item.id}}">{{ item.host_team }} VS {{ item.away_team }}</a></td>
                     <td><span>{{item.best_odd.host_win.company}}</span><span> - ODD {{item.best_odd.host_win.odd}}</span></td>
                     <td><span>{{item.best_odd.draw.company}}</span><span> - ODD {{item.best_odd.draw.odd}}</td>
                     <td><span>{{item.best_odd.away_win.company}}</span><span> - ODD {{item.best_odd.away_win.odd}}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
      

</body>
{% endblock %}
</html>